// ----- colors ----- 
$primary: #00356B;
$accent: #A6FFDC; 
$back-up: rgb(248, 245, 245);


// ----- spacing ----- 
$bottom: 40px;



////// layout 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0rem;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 20px 20px 40px 20px;
}
h1, h2, h4{
    text-align: center;
}
h1 {
    font-size: 200%;
}
h2 {
    font-weight: 100;
    font-size: 110%;
}
p {
    text-align: center;
    padding: 1em    
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    display: none;
    
    li  {
        display: inline-block;
        margin: 0 12px;
        text-decoration: underline;
    }
    a {
        color: $back-up
    }
}
// blocks --- 

// ----- buttons -------

.tour-button, .footer-form_submit {
    background-color: $primary;
    text-decoration: none;
    color: $back-up;
    padding: 0.5em;
    border-radius: 6px;
    width: 7em;
    text-align: center;
    display: inline-block;
    
}
.tour-button {
    background-color: $accent;
    color: $primary;
}

// ------ hamburger ------ 
.header-section{
    background-color: $primary;
    padding: 20px;  
    margin-bottom: $bottom;  
}
.header_ham-menu {
    width: 50px;
    display: flex;
flex-direction: column;
justify-content: center;

}
.bar {
    display: inline-block;
    height: 3px;
    margin: 1px;
    background-color: $back-up;
    border-radius: 10%;

}

// ---- design secetion ---- 
// .student-section_title {
//     margin-bottom: 30px;
// }
.design-section_video {
    width: 90%;
    margin:0px px 0px opx;
}

// ------ backquotes ------
.quote-section {display: flex;}

// ------ event section ------ 
.event-section {
    display: flex;
    flex-direction: column;
    justify-content:center ;
}


.event-section_card {
    margin: 30px;
}
.event-section_button {
    border: 1px $primary solid;
    background-color: white;
    color: $primary;
    padding: .5em;
    margin-top: $bottom;

}
// ----- compare ----
.compare-section {
    background-color:  lightgray;
    padding: 14px;
    margin:15px 0px;
}
.compare-section_button {
align-items: center;
background-color: teal;
color: white;
padding: 9px;
position: relative;
left: 25%;
}
// ----- meet kenzie ----- 
.meet-kenzie{
    display: grid;
    grid-row: 1/4;
   
}
.meet-kenzie_title {
    font-weight: bold;
}
// ----- kenzie community ----

.kenzie-community_cards {
    
    display: grid;
    grid-template-columns: 1fr;
}
.student-section{
    margin-bottom: 105px;
    display: grid;
    grid-template-rows: minmax(100, auto) ;
}
.student-section_title{
    font-size: 25px;
    text-align: center;
}
.student-section_video {
    width: 69%;
    position: relative;
    left: 20%
}
// ------ footer ------

.footer_form {
    display: flex;
    flex-direction: column;
    justify-content: center
    
}



// desktop------

@media (min-width: 750px){

    
    // ----- header ---- 
    .header-section_nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        
    }
    .header_ham-menu {
        display: none;
    }
    
    // ------ design ---- 
    .design-section_video {
        width: 60%;
        position: relative;
        left: 20%;    }
//  ----- back quotes ------ 
    .quote-section {
        display: flex;
        flex-direction: row;
    }
    .quote-section_card{
        display: flex;
    }
    // ------ event section ----- 
    .event-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;;
    }
    
    // ------ compare ------- 
    .compare-section_button {
        position: relative;
        left: 41%
    }
    // ------- Kenzie community ----- 
    .kenzie-community {
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        margin-bottom: 100px;
       }
    //    ------ student section ----- 
    .student-section {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        // grid-template-rows: 1fr 1fr;
        grid-gap: .5em;
        grid-template-areas: "student-section_video  student-section_title"
        "student-section_video  student-section_message";
    }
    .student-section_video{
        grid-area: student-section_video;
        width: 80%;
    }
    .student-section_title {
        grid-area: student-section_title;
    }
    .student-section_message {
        grid-area: student-section_message;
        position: relative;
        bottom: 100px;
    }
    // ------ footer ------- 
    .footer_form {
        text-align: center;
        width: 80%;
        position: relative;
        left: 10%
    }
    .footer-form_email, .footer-form_phone {
         margin: .5em;
         width: 19rem ;
        }

}
    
