////// layout 
body {
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 200%;
}
h2 {
    font-weight: 100;
    font-size: 110%;
}
p {
    text-align: center;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    display: none;
    
    li  {
        display: inline-block;
        margin: 0 12px;
        text-decoration: underline;
    }
}
// blocks --- 

// ----- buttons -------

.tour-button, .footer-form_submit {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border-radius: 6px;
    width: 7em;
    text-align: center;
    display: inline-block;
    
}
// ------ hamburger ------ 
.header_ham-menu {
    width: 50px;
    display: flex;
flex-direction: column;
justify-content: center;

}
.bar {
    display: inline-block;
    height: 5px;
    margin: 3px;
    background-color: midnightblue;
    border-radius: 10%;

}

// ---- design secetion ---- 
.design-section_video {
    width: 90%;
    margin-bottom: 100px;
}

// ------ backquotes ------


// ------ event section ------ 
.event-section {
    display: grid;
    grid-template-rows: minmax( 50px, auto);
}
.event-section_card {
    margin: 15px;
}
.event-section_button {
    border: 1px teal solid;
    background-color: white;
    color: teal;
    padding: .5em;
}
// ----- compare ----
.compare-section {
    background-color:  lightgray;
    padding: 14px;
}
.compare-section_button {
align-items: center;
background-color: teal;
color: white;
padding: 9px;
position: relative;
left: 20%;
}
// ----- meet kenzie ----- 
.meet-kenzie{
    display: grid;
    grid-row: 1/4;
   
}
// ----- kenzie community ----

.kenzie-community_cards {
    
    display: grid;
    grid-row:  1/1;
}
.student-section{
    margin-bottom: 105px;
    font-size: 18px;
    display: grid;
    grid-template-rows: minmax(100, auto) ;
}
.student-section_video {
    width: 69%;
    position: relative;
    left: 20%
}
// ------ footer ------

.footer_form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.footer-form_email, .footer-form_phone, .footer-form_name {
    margin: .5em;
    width: 9rem;
}
 
// desktop------

@media (min-width: 750px){

    
    // ----- header ---- 
    .header-section_nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-wrap: wrap;
        
    }
    .header_ham-menu {
        display: none;
    }
    
    // ------ design ---- 
    .design-section_video {
        width: 60%;
        position: relative;
        left: 20%;    }
//  ----- back quotes ------ 
    .quote-section {
        display: flex;
        flex-direction: row;
    }
    .quote-section_card{
        display: flex;
    }
    .event-section {
        display: flex;
        justify-content: space-between;;
    }
    
}
