body {
  font-family: 'Nunito', sans-serif;
  margin-left: 20px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-weight: 100;
  font-size: 110%;
}

p {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  display: none;
}

nav li {
  display: inline-block;
  margin: 0 12px;
  text-decoration: underline;
}

.tour-button, .footer-form_submit {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 7em;
  text-align: center;
  display: inline-block;
}

.header_ham-menu {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar {
  display: inline-block;
  height: 5px;
  margin: 3px;
  background-color: midnightblue;
  border-radius: 10%;
}

.design-section_video {
  width: 90%;
  margin: 0px 20px 100px opx;
}

.quote-section {
  display: flex;
}

.event-section {
  display: flex;
}

.event-section_card {
  margin: 15px;
}

.event-section_button {
  border: 1px teal solid;
  background-color: white;
  color: teal;
  padding: .5em;
}

.compare-section {
  background-color: lightgray;
  padding: 14px;
}

.compare-section_button {
  align-items: center;
  background-color: teal;
  color: white;
  padding: 9px;
  position: relative;
  left: 28%;
}

.meet-kenzie {
  display: grid;
  grid-row: 1/4;
}

.kenzie-community_cards {
  display: grid;
  grid-template-columns: 1fr;
}

.student-section {
  margin-bottom: 105px;
  display: grid;
  grid-template-rows: minmax(100, auto);
}

.student-section_title {
  font-size: 25px;
}

.student-section_video {
  width: 69%;
  position: relative;
  left: 20%;
}

.footer_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 750px) {
  .header-section_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
  }
  .header_ham-menu {
    display: none;
  }
  .design-section_video {
    width: 60%;
    position: relative;
    left: 20%;
  }
  .quote-section {
    display: flex;
    flex-direction: row;
  }
  .quote-section_card {
    display: flex;
  }
  .event-section {
    display: flex;
    justify-content: space-between;
  }
  .compare-section_button {
    position: relative;
    left: 41%;
  }
  .kenzie-community {
    display: grid;
    grid-template-columns: 4em 4em 4em 4em;
    grid-gap: 8rem;
    margin-bottom: 100px;
  }
  .student-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
    grid-template-areas: "student-section_video  student-section_title" "student-section_video  student-section_message";
  }
  .student-section_video {
    grid-area: student-section_video;
    width: 80%;
  }
  .student-section_title {
    grid-area: student-section_title;
  }
  .student-section_message {
    grid-area: student-section_message;
    position: relative;
    bottom: 100px;
  }
  .footer_form {
    text-align: center;
    width: 80%;
  }
  .footer-form_email, .footer-form_phone {
    margin: .5em;
    width: 19rem;
  }
}
/*# sourceMappingURL=styles.css.map */